<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Pathfinder Character Manager</title>
        <link href="https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        <header>
            <img src="{{ url_for('static', filename='images/pathfinder_logo.png') }}" />
        </header>

        <div id="nav-container">
            <nav id="main-nav">
                <ul>
                    <li><a href="{{ url_for('index') }}">home</a></li>
                    <li><a href="{{ url_for('characters') }}">characters</a></li>
                </ul>
            </nav>
        </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="message">
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        </div>
        <div id="content" class="messages-shown">
    {% else %}
        <div id="content">
    {% endif %}
    {% endwith %}

            {% block content %}{% endblock %}
        </div>
        <footer><p>{% if session['loggedin'] %}<a href="{{ url_for('logout') }}">Logout</a> | {% endif %}<a href="{{ url_for('licenses') }}">Licenses</a> | <a href="{{ url_for('contact') }}">Contact</a></p></footer>

        {% block scripts %}{% endblock %}
    </body>
</html>
