{% extends "base.html" %}

{% block content %}
<div id="character" data-charid="{{ charid }}">





    <!-- <div id="character--main" class="section hidden character-section">
        <div id="basics">
            <p>Basic Character Information</p>
            <div id="basics--name" class="input-field descriptor-below">
                <input data-path="basics.name" type="text" />
                <span class="descriptor">Name</span>
            </div>
            <div class="input-field-group">
                <div class="column-50">
                    <div id="basics--alignment" class="input-field descriptor-below">
                        <input data-path="basics.alignment" type="text" />
                        <span class="descriptor">Alignment</span>
                    </div>
                    <div id="basics--race" class="input-field descriptor-below">
                        <input data-path="basics.race" type="text" disabled />
                        <span class="descriptor">Race</span>
                    </div>
                    <div id="basics--deity" class="input-field descriptor-below">
                        <input data-path="basics.deity" type="text" />
                        <span class="descriptor">Deity</span>
                    </div>
                    <div id="basics--size" class="input-field descriptor-below">
                        <input data-path="basics.size" type="text" />
                        <span class="descriptor">Size</span>
                    </div>
                    <div id="basics--gender" class="input-field descriptor-below">
                        <input data-path="basics.gender" type="text" />
                        <span class="descriptor">Gender</span>
                    </div>
                    <div id="basics--age" class="input-field descriptor-below">
                        <input data-path="basics.age" type="text" />
                        <span class="descriptor">Age</span>
                    </div>
                </div>
                <div class="column-50">
                    <div id="basics--height" class="input-field descriptor-below">
                        <input data-path="basics.height" type="text" />
                        <span class="descriptor">Height</span>
                    </div>
                    <div id="basics--weight" class="input-field descriptor-below">
                        <input data-path="basics.weight" type="text" />
                        <span class="descriptor">Weight</span>
                    </div>
                    <div id="basics--hair" class="input-field descriptor-below">
                        <input data-path="basics.hair" type="text" />
                        <span class="descriptor">Hair</span>
                    </div>
                    <div id="basics--eyes" class="input-field descriptor-below">
                        <input data-path="basics.eyes" type="text" />
                        <span class="descriptor">Eyes</span>
                    </div>
                    <div id="basics--homeland" class="input-field descriptor-below">
                        <input data-path="basics.homeland" type="text" />
                        <span class="descriptor">Homeland</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="speed">
            <p>Speed</p>
            <div id="speed--land">
                <div class="plaque">
                    <span class="text">Land</span>
                </div>
                <div id="speed--land--base" class="input-field">
                    <input data-path="basics.speed.base" type="number" />
                    <span class="descriptor">Ft</span>
                </div>
                <div id="speed--land--armor" class="input-field">
                    <input data-path="basics.speed.armor" type="number" />
                    <span class="descriptor">Ft</span>
                </div>
            </div>
            <div id="speed--fly">
                <div class="plaque">
                    <span class="text">Fly</span>
                </div>
                <div id="speed--fly--base" class="input-field">
                    <input data-path="basics.speed.fly" type="number" />
                    <span class="descriptor">Ft</span>
                </div>
            </div>
            <div id="speed--swim">
                <div class="plaque">
                    <span class="text">Swim</span>
                </div>
                <div id="speed--swim--base" class="input-field">
                    <input data-path="basics.speed.swim" type="number" />
                    <span class="descriptor">Ft</span>
                </div>
            </div>
            <div id="speed--climb">
                <div class="plaque">
                    <span class="text">Climb</span>
                </div>
                <div id="speed--climb--base" class="input-field">
                    <input data-path="basics.speed.climb" type="number" />
                    <span class="descriptor">Ft</span>
                </div>
            </div>
            <div id="speed--burrow">
                <div class="plaque">
                    <span class="text">Burrow</span>
                </div>
                <div id="speed--burrow--base" class="input-field">
                    <input data-path="basics.speed.burrow" type="number" />
                    <span class="descriptor">Ft</span>
                </div>
            </div>
        </div>
        <div id="languages">
            <div id="languages--basic"></div>
            <div id="languages--extended"></div>
        </div>
    </div>
    <div id="character--lvl-classes" class="section hidden character-section">
        <div>
            <p>Level & Experience</p>
            <div id="level" class="input-field descriptor-below">
                <input type="text" />
                <span class="descriptor">Level</span>
            </div>
            <div class="flex-box-container">
                <div id="experience" class="input-field descriptor-below">
                    <input type="text" />
                    <span class="descriptor">Experience</span>
                </div>
                <div id="growth" class="input-field descriptor-below">
                    <input type="text" />
                    <span class="descriptor">Growth</span>
                </div>
            </div>
        </div>
        <div>
            <p>Character Classes</p>
            <div id="classes">
                <div id="classes--list"></div>
                <div id="classes--add-class">
                    <select>
                        <option selected="selected" hidden>Select A New Class</option>
                        <option value="occultist">Occultist</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div id="character--attr-hp" class="section hidden character-section">
        <div id="attributes">
            <p>Character Attributes</p>
            <div id="attributes--descriptors" class="flex-box-container attribute-entry">
                <span class="descriptor">Ability Name</span>
                <span class="descriptor">Ability Score</span>
                <span class="descriptor">Other Bonuses</span>
                <span class="descriptor">Temp Adjustment</span>
                <span class="descriptor">Ability Modifier</span>
            </div>
            <div id="attributes--str" class="flex-box-container attribute-entry">
                <div class="plaque attr-str"><span class="text-top">STR</span><span class="text-bottom">Strength</div>
                <div id="attribute--str--score" class="input-field input-field-box attr-str"><input type="number" /></div>
                <div id="attribute--str--bonuses" class="input-field input-field-box attr-str bonus-modifier"><input type="number" disabled /></div>
                <div id="attribute--str--adjustment" class="input-field input-field-box attr-str"><input type="number" /></div>
                <div id="attribute--str--mod" class="input-field input-field-box attr-str input-field-total"><input type="number" disabled /></div>
            </div>
            <div id="attributes--dex" class="flex-box-container attribute-entry">
                <div class="plaque attr-dex"><span class="text-top">DEX</span><span class="text-bottom">Dexterity</div>
                <div id="attribute--dex--score" class="input-field input-field-box attr-dex"><input type="number" /></div>
                <div id="attribute--dex--bonuses" class="input-field input-field-box attr-dex bonus-modifier"><input type="number" disabled /></div>
                <div id="attribute--dex--adjustment" class="input-field input-field-box attr-dex"><input type="number" /></div>
                <div id="attribute--dex--mod" class="input-field input-field-box attr-dex input-field-total"><input type="number" disabled /></div>
            </div>
            <div id="attributes--con" class="flex-box-container attribute-entry">
                <div class="plaque attr-con"><span class="text-top">CON</span><span class="text-bottom">Constitution</div>
                <div id="attribute--con--score" class="input-field input-field-box attr-con"><input type="number" /></div>
                <div id="attribute--con--bonuses" class="input-field input-field-box attr-con bonus-modifier"><input type="number" disabled /></div>
                <div id="attribute--con--adjustment" class="input-field input-field-box attr-con"><input type="number" /></div>
                <div id="attribute--con--mod" class="input-field input-field-box attr-con input-field-total"><input type="number" disabled /></div>
            </div>
            <div id="attributes--int" class="flex-box-container attribute-entry">
                <div class="plaque attr-int"><span class="text-top">INT</span><span class="text-bottom">Intelligence</div>
                <div id="attribute--int--score" class="input-field input-field-box attr-int"><input type="number" /></div>
                <div id="attribute--int--bonuses" class="input-field input-field-box attr-int bonus-modifier"><input type="number" disabled /></div>
                <div id="attribute--int--adjustment" class="input-field input-field-box attr-int"><input type="number" /></div>
                <div id="attribute--int--mod" class="input-field input-field-box attr-int input-field-total"><input type="number" disabled /></div>
            </div>
            <div id="attributes--wis" class="flex-box-container attribute-entry">
                <div class="plaque attr-wis"><span class="text-top">WIS</span><span class="text-bottom">Wisdom</div>
                <div id="attribute--wis--score" class="input-field input-field-box attr-wis"><input type="number" /></div>
                <div id="attribute--wis--bonuses" class="input-field input-field-box attr-wis bonus-modifier"><input type="number" disabled /></div>
                <div id="attribute--wis--adjustment" class="input-field input-field-box attr-wis"><input type="number" /></div>
                <div id="attribute--wis--mod" class="input-field input-field-box attr-wis input-field-total"><input type="number" disabled /></div>
            </div>
            <div id="attributes--cha" class="flex-box-container attribute-entry">
                <div class="plaque attr-cha"><span class="text-top">CHA</span><span class="text-bottom">Charisma</div>
                <div id="attribute--cha--score" class="input-field input-field-box attr-cha"><input type="number" /></div>
                <div id="attribute--cha--bonuses" class="input-field input-field-box attr-cha bonus-modifier"><input type="number" disabled /></div>
                <div id="attribute--cha--adjustment" class="input-field input-field-box attr-cha"><input type="number" /></div>
                <div id="attribute--cha--mod" class="input-field input-field-box attr-cha input-field-total"><input type="number" disabled /></div>
            </div>
        </div>
        <div id="hitpoints">
            <p>Character Hitpoints</p>
            <div class="flex-box-container">
                <div class="plaque attr-con">
                    <span class="text-top">HP</span>
                    <span class="text-bottom">Hitpoints</span>
                </div>
                <div id="hitpoints--total" class="input-field descriptor-inside attr-con input-field-total">
                    <input type="number" />
                    <span class="descriptor">Total</span>
                </div>
                <div id="hitpoints--dr" class="input-field descriptor-inside attr-con">
                    <input type="number" />
                    <span class="descriptor">DR</span>
                </div>
                <div id="hitpoints--current" class="input-field descriptor-inside attr-con">
                    <input type="number" />
                    <span class="descriptor">Current HP</span>
                </div>
            </div>
        </div>
    </div>
    <div id="character--atk-init" class="section hidden character-section">
        <div id="initiative">
            <p>Initiative</p>
            <div class="flex-box-container">
                <div class="plaque attr-dex">
                    <span class="text-top">Initiative</span>
                    <span class="text-bottom">Modifier</span>
                </div>
                <div id="initiative--total" class="input-field input-field-box attr-dex descriptor-inside input-field-total">
                    <input type="number" disabled />
                    <span class="descriptor">Total</span>
                </div>
                <div id="initiative--dex-mod" class="attr-dex input-field input-field-box attr-modifier descriptor-inside">
                    <input type="number" disabled />
                    <span class="descriptor">Dex Mod</span>
                </div>
                <div id="initiative--bonus" class="input-field input-field-box bonus-modifier descriptor-inside">
                    <input type="number" disabled />
                    <span class="descriptor">Bonuses</span>
                </div>
                <div id="initiative--adjustment" class="input-field input-field-box descriptor-inside">
                    <input type="number" />
                    <span class="descriptor">Adjustment</span>
                </div>
            </div>
        </div>
        <div id="attacks">
            <div class="attack-entry" id="attacks-1">
                <p>First Attack</p>
                <div id="attacks-1--bab" class="flex-box-container">
                    <div class="plaque attacks-plaque-size-fixed">
                        <span class="text">BAB</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside bab--total input-field-total">
                        <input type="number" disabled />
                        <span class="descriptor">Total</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside bab--base">
                        <input type="number" disabled />
                        <span class="descriptor">Base</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside bab--bonus">
                        <input type="number" disabled />
                        <span class="descriptor">Bonuses</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside bab--adjustment">
                        <input type="number" />
                        <span class="descriptor">Adjustment</span>
                    </div>
                </div>
                <div id="attacks-1--cmb" class="flex-box-container">
                    <div class="plaque attacks-plaque-size-fixed">
                        <span class="text">CMB</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmb--total input-field-total">
                        <input type="number" disabled />
                        <span class="descriptor">Total</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmb--base">
                        <input type="number" disabled />
                        <span class="descriptor">BAB</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside attr-str cmb--str-mod">
                        <input type="number" disabled />
                        <span class="descriptor">STR Mod</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmb--size-mod">
                        <input type="number" disabled />
                        <span class="descriptor">Size Mod</span>
                    </div>
                </div>
                <div id="attacks-1--cmd" class="flex-box-container">
                    <div class="plaque">
                        <span class="text">CMD</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmd--total input-field-total">
                        <input type="number" disabled />
                        <span class="descriptor">Total</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmd--base">
                        <input type="number" disabled />
                        <span class="descriptor">BAB</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside attr-str cmd--str-mod">
                        <input type="number" disabled />
                        <span class="descriptor">STR Mod</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside attr-dex cmd--dex-mod">
                        <input type="number" disabled />
                        <span class="descriptor">DEX Mod</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmd--size-mod">
                        <input type="number" disabled />
                        <span class="descriptor">Size Mod</span>
                    </div>
                    <div class="input-field input-field-box descriptor-inside cmd--base">
                        <input type="number" value="10" disabled />
                        <span class="descriptor">Base</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="character--ac-savings" class="section hidden character-section">
        <div id="armor_classes">
            <p>Armor Classes</p>
            <div id="ac">
                <div class="flex-box-container">
                    <div class="plaque">
                        <span class="text-top">AC</span>
                        <span class="text-bottom">Armor Class</span>
                    </div>
                    <div id="ac--total" class="input-field input-field-box descriptor-inside input-field-total">
                        <input type="number" disabled />
                        <span class="descriptor">Total</span>
                    </div>
                    <div id="ac--base" class="input-field input-field-box descriptor-inside">
                        <input type="number" value="10" disabled />
                        <span class="descriptor">Base</span>
                    </div>
                    <div id="ac--dex-modifier" class="input-field input-field-box descriptor-inside">
                        <input type="number" disabled />
                        <span class="descriptor">Dex Mod</span>
                    </div>
                    <div id="ac--size-modifier" class="input-field input-field-box descriptor-inside">
                        <input type="number" disabled />
                        <span class="descriptor">Size Mod</span>
                    </div>
                    <div id="ac--bonus-modifier" class="input-field input-field-box bonus-modifier descriptor-inside">
                        <input type="number" disabled />
                        <span class="descriptor">Bonus</span>
                    </div>
                </div>
                <div class="flex-box-container">
                    <div class="plaque-placeholder"></div>
                    <div id="ac--armor-bonus" class="input-field input-field-box descriptor-inside input-field-total">
                        <input type="number" />
                        <span class="descriptor">Armor</span>
                    </div>
                    <div id="ac--shield-bonus" class="input-field input-field-box descriptor-inside">
                        <input type="number" />
                        <span class="descriptor">Shield</span>
                    </div>
                    <div id="ac--natural-armor" class="input-field input-field-box descriptor-inside">
                        <input type="number" />
                        <span class="descriptor">Natural</span>
                    </div>
                    <div id="ac--deflection-modifier" class="input-field input-field-box descriptor-inside">
                        <input type="number" />
                        <span class="descriptor small">Deflection</span>
                    </div>
                    <div id="ac--adjustment" class="input-field input-field-box descriptor-inside">
                        <input type="number" />
                        <span class="descriptor">Adjust</span>
                    </div>
                </div>
            </div>
            <div id="ac--touch" class="flex-box-container">
                <div class="plaque">
                    <span class="text-top">Touch</span>
                    <span class="text-bottom">Armor Class</span>
                </div>
                <div id="ac--touch--total" class="input-field input-field-box descriptor-inside input-field-total">
                    <input type="number" disabled />
                    <span class="descriptor">Total</span>
                </div>
                <div id="ac--touch--bonus" class="input-field input-field-box descriptor-inside bonus-modifier">
                    <input type="number" disabled />
                    <span class="descriptor">Bonus</span>
                </div>
                <div id="ac--touch--main" class="input-field input-field-box descriptor-inside">
                    <input type="number" />
                    <span class="descriptor">Adjustment</span>
                </div>
            </div>
            <div id="ac--flat-footed" class="flex-box-container">
                <div class="plaque">
                    <span class="text-top">Flat-Footed</span>
                    <span class="text-bottom">Armor Class</span>
                </div>
                <div id="ac--flat-footed--total" class="input-field input-field-box descriptor-inside input-field-total">
                    <input type="number" disabled />
                    <span class="descriptor">Total</span>
                </div>
                <div id="ac--flat-footed--bonus" class="input-field input-field-box descriptor-inside bonus-modifier">
                    <input type="number" disabled />
                    <span class="descriptor">Bonus</span>
                </div>
                <div id="ac--flat-footed--main" class="input-field input-field-box descriptor-inside">
                    <input type="number" />
                    <span class="descriptor">Adjustment</span>
                </div>
            </div>
            <div id="ac--sr" class="flex-box-container">
                <div class="plaque">
                    <span class="text">Spell Resistance</span>
                </div>
                <div id="ac--sr--total" class="input-field input-field-box descriptor-inside input-field-total">
                    <input type="number" disabled />
                    <span class="descriptor">Total</span>
                </div>
                <div id="ac--sr--bonus" class="input-field input-field-box descriptor-inside">
                    <input type="number" disabled />
                    <span class="descriptor">Bonus</span>
                </div>
                <div id="ac--sr--adjustment" class="input-field input-field-box descriptor-inside">
                    <input type="number" />
                    <span class="descriptor">Adjustment</span>
                </div>
            </div>
        </div>
        <div id="savings">
            <p>Savings</p>
            <div id="savings--descriptors" class="flex-box-container">
                <span class="descriptor"></span>
                <span class="descriptor">Total</span>
                <span class="descriptor">Base</span>
                <span class="descriptor">Ability Mod</span>
                <span class="descriptor">Bonus</span>
                <span class="descriptor">Magic Mod</span>
                <span class="descriptor">Adjust</span>
            </div>
            <div id="savings--fortitude" class="flex-box-container">
                <div class="plaque attr-con">
                    <span class="text-top">Fortitude</span>
                    <span class="text-bottom">(Constitution)</span>
                </div>
                <div id="savings--fortitude--total" class="input-field input-field-box attr-con">
                    <input type="number" disabled />
                </div>
                <div id="savings--fortitude--base" class="input-field input-field-box">
                    <input type="number" disabled />
                </div>
                <div id="savings--fortitude--ability-mod" class="input-field input-field-box attr-con">
                    <input type="number" disabled />
                </div>
                <div id="savings--fortitude--bonus" class="input-field input-field-box bonus-modifier">
                    <input type="number" disabled />
                </div>
                <div id="savings--fortitude--magic-mod" class="input-field input-field-box">
                    <input type="number" />
                </div>
                <div id="savings--fortitude--adjustment" class="input-field input-field-box">
                    <input type="number" />
                </div>
            </div>
            <div id="savings--reflex" class="flex-box-container">
                <div class="plaque attr-dex">
                    <span class="text-top">Reflex</span>
                    <span class="text-bottom">(Dexterity)</span>
                </div>
                <div id="savings--reflex--total" class="input-field input-field-box attr-dex">
                    <input type="number" disabled />
                </div>
                <div id="savings--reflex--base" class="input-field input-field-box">
                    <input type="number" disabled />
                </div>
                <div id="savings--reflex--ability-mod" class="input-field input-field-box attr-dex">
                    <input type="number" disabled />
                </div>
                <div id="savings--reflex--bonus" class="input-field input-field-box bonus-modifier">
                    <input type="number" disabled />
                </div>
                <div id="savings--reflex--magic-mod" class="input-field input-field-box">
                    <input type="number" />
                </div>
                <div id="savings--reflex--adjustment" class="input-field input-field-box">
                    <input type="number" />
                </div>
            </div>
            <div id="savings--will" class="flex-box-container">
                <div class="plaque attr-wis">
                    <span class="text-top">Will</span>
                    <span class="text-bottom">(Wisdom)</span>
                </div>
                <div id="savings--will--total" class="input-field input-field-box attr-wis">
                    <input type="number" disabled />
                </div>
                <div id="savings--will--base" class="input-field input-field-box">
                    <input type="number" disabled />
                </div>
                <div id="savings--will--ability-mod" class="input-field input-field-box attr-wis">
                    <input type="number" disabled />
                </div>
                <div id="savings--will--bonus" class="input-field input-field-box bonus-modifier">
                    <input type="number" disabled />
                </div>
                <div id="savings--will--magic-mod" class="input-field input-field-box">
                    <input type="number" />
                </div>
                <div id="savings--will--adjustment" class="input-field input-field-box">
                    <input type="number" />
                </div>
            </div>
        </div>
    </div>
    <div id="character--skills" class="section hidden character-section">
        <div id="skills">
            <p>Skills</p>
            <div id="skills-list">
                <div class="skill-entry">
                    <div class="skill-description attr-dex">
                        <span class="name">Acrobatics</span>
                        <span class="attribute">(dex)</span>
                    </div>
                </div>
                <div class="skill-modifiers flex-box-container">
                    <div id="skills--acrobatics--total" class="input-field attr-dex descriptor-inside input-field-total">
                        <input type="number" disabled />
                        <span class="descriptor">Total</span>
                    </div>
                    <div id="skills--acrobatics--ability-mod" class="input-field attr-dex descriptor-inside">
                        <input type="number" disabled />
                        <span class="descriptor">Ability Mod</span>
                    </div>
                    <div id="skills--acrobatics--bonus" class="input-field bonus-modifier descriptor-inside">
                        <input type="number" disabled />
                        <span class="descriptor">Bonus</span>
                    </div>
                    <div id="skills--acrobatics--ranks" class="input-field descriptor-inside">
                        <input type="number" />
                        <span class="descriptor">Ranks</span>
                    </div>
                    <div id="skills--acrobatics--adjustment" class="input-field descriptor-inside">
                        <input type="number" />
                        <span class="descriptor">Adjustment</span>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='javascript/character.js') }}"></script>
{% endblock %}
