{% extends "base.html" %}

{% block content %}
<div id="signup">
    <h1>Sign Up</h1>
    <p>Sign up to create a new character.</p>
    <form id="signup-form" action="{{ url_for('signup') }}" method="POST">
        <input type="email" name="email" placeholder="Enter Your Email" value="{% if email is defined %}{{ email }}{% endif %}" />
        <input type="password" name="password" placeholder="Enter Your Password" value="{% if password is defined %}{{ password }}{% endif %}" />
        <input type="password" name="repeat_password" placeholder="Repeat Your Password" value="{% if repeat_password is defined %}{{ repeat_password }}{% endif %}" />
        <input type="submit" value="Sign Up" />
    </form>
</div>
{% endblock %}
