bcrypt==3.1.7
cffi==1.13.2
Click==7.0
Flask==1.1.1
Flask-Sessionstore==0.4.5
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pkg-resources==0.0.0
pycparser==2.19
redis==3.3.11
six==1.14.0
Werkzeug==0.16.0
