:root {
  --background-color: rgb(249, 215, 143);
  --color: rgb(44, 0, 2);
  --input-background-color: rgb(249, 202, 99);
  --input-disabled-background-color: rgb(249, 234, 199); }

* {
  box-sizing: border-box; }

html {
  font-size: 14px; }

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  color: var(--color); }

body {
  padding: 10px; }

body, button, input, select, option {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 1em; }

a {
  color: var(--color); }

header {
  text-align: center;
  height: 80px; }
  header img {
    height: 100%; }

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
  nav ul li {
    display: inline-block; }
    nav ul li a {
      text-decoration: none;
      font-weight: bold;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px; }

button:focus, input:focus, select:focus {
  outline: none; }

input {
  border: none;
  border-bottom: 1px solid var(--color);
  background-color: var(--input-background-color); }

input[type="number"] {
  -moz-appearance: textfield; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

select {
  background-color: var(--input-background-color);
  border: none;
  border-bottom: 1px solid var(--color); }

button, input[type="submit"] {
  cursor: pointer;
  outline: none;
  background-color: var(--input-background-color);
  border: 1px solid var(--color);
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--color-50);
  padding: 5px 10px 5px 10px; }

form {
  width: 100%; }
  form .form-group {
    display: flex;
    width: 100%; }
    form .form-group input {
      width: 100%;
      margin-left: 10px; }
    form .form-group input:first-child {
      margin-left: 0px; }

.section {
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: var(--background-color);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--color);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out; }

.section.visible {
  transition-delay: 0s;
  visibility: visible;
  opacity: 1; }

.section.hidden {
  opacity: 0;
  visibility: hidden; }

.flex-box-container {
  display: flex; }
  .flex-box-container .column-50 {
    height: 100%;
    width: 100%;
    display: inline-block;
    vertical-align: top; }

.flex-box-container > div {
  vertical-align: middle;
  margin-left: 5px; }

.flex-box-container > div:first-child {
  margin-left: 0px; }

.character-section {
  height: 100%;
  overflow: auto; }

p {
  margin: 0px;
  padding: 0px; }

.input-field-total {
  font-weight: bold;
  text-decoration: underline; }

.input-field {
  display: inline-block; }

.input-field.total input {
  font-weight: bold;
  text-decoration: underline; }

.input-field.descriptor-below input,
.select-field.descriptor-below input {
  width: 100%; }

.input-field.descriptor-below span.descriptor,
.select-field.descriptor-below span.descriptor {
  display: block;
  vertical-align: top;
  font-size: 0.6em; }

.input-field.descriptor-inside {
  position: relative; }
  .input-field.descriptor-inside input {
    width: 100%; }
  .input-field.descriptor-inside span.descriptor {
    position: absolute;
    font-size: 0.65em;
    top: 0px;
    left: 0px; }
  .input-field.descriptor-inside span.descriptor.small {
    font-size: 0.5em; }

.input-field-box.descriptor-inside span.descriptor {
  top: 2px;
  left: 2px; }

.input-field-group {
  width: 100%; }

.plaque,
.plaque-placeholder {
  display: inline-block;
  padding: 5px;
  height: 40px; }

.plaque {
  display: inline-block;
  background-color: var(--color);
  color: var(--background-color);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  height: 40px;
  user-select: none;
  cursor: default; }
  .plaque span {
    display: inline-block; }
  .plaque span.text {
    margin-top: 5px; }
  .plaque span.text-top {
    width: 100%;
    font-size: 0.9em; }
  .plaque span.text-bottom {
    width: 100%;
    font-size: 0.65em;
    position: relative;
    top: -7px; }

.input-field-box input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color);
  border-radius: 5px;
  text-align: center; }

.input-field-box input[readonly] {
  background-color: var(--input-disabled-background-color);
  color: var(--color);
  border: var(--input-background-color); }

.input-field-box input[readonly] + span.descriptor {
  color: var(--color); }

.input-field input[readonly] {
  cursor: default;
  background-color: var(--input-disabled-background-color); }

.input-field .descriptor {
  cursor: default;
  user-select: none; }

.list .list--entry {
  display: inline-block;
  padding: 5px;
  border-radius: 4px;
  background-color: var(--input-background-color);
  border: 1px solid var(--color);
  font-size: 0.7em;
  margin-left: 5px;
  margin-bottom: 5px; }

nav#main-nav {
  text-align: center;
  width: 100%; }
  nav#main-nav a {
    text-transform: uppercase; }

div#nav-container {
  width: 100%;
  position: relative;
  height: 25px; }

div#message {
  width: 100%;
  font-size: 12px;
  padding: 10px;
  z-index: 200;
  height: 80px; }
  div#message ul {
    padding: 0px;
    margin: 0px; }
    div#message ul li {
      border-bottom: 1px solid #2c0002; }
    div#message ul li:first-child {
      border-bottom: none; }

div#login form {
  height: 200px; }

div#login input[type="submit"] {
  margin-top: 10px;
  float: right; }

div#content {
  width: 100%;
  height: calc(100% - 25px - 80px - 20px);
  position: relative; }
  div#content h1 {
    font-size: 20px; }
  div#content p.first-child {
    margin-top: 0px;
    padding-top: 0px; }
  div#content h1.first-child,
  div#content #main h1,
  div#content #characters p,
  div#content #login h1,
  div#content #signup h1 {
    margin-top: 0px;
    padding-top: 0px; }

div#content.messages-shown {
  height: calc(100% - 25px - 80px - 20px - 80px); }

div#characters .character-list--entry {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid var(--color);
  text-decoration: underline; }
  div#characters .character-list--entry .character-list--entry--race {
    margin-left: 10px; }
  div#characters .character-list--entry .character-list--entry--classes--class:first-child {
    margin-left: 0px; }
  div#characters .character-list--entry .character-list--entry--classes--class {
    margin-left: 10px; }

div#characters .character-list--entry:last-child {
  border-bottom: none; }

div#new_character {
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
  margin-top: 10px; }

div#new_character_form form {
  width: 100%; }
  div#new_character_form form input[name="name"],
  div#new_character_form form select[name="class"],
  div#new_character_form form select[name="race"] {
    display: block;
    width: 100%;
    margin-bottom: 10px; }

div#new_character_form #new_character_form--cancel {
  float: right; }

div#character > div {
  height: 100%; }

div#character {
  position: relative;
  height: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto; }
  div#character .input-field {
    width: 100%; }
    div#character .input-field input {
      width: 100%; }
  div#character #controls {
    height: 75px;
    text-align: center; }
    div#character #controls button {
      margin-right: 5px;
      margin-bottom: 5px; }
  div#character #char {
    height: calc(100% - 80px);
    overflow: auto;
    border-radius: 5px;
    border: 1px solid var(--color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); }
    div#character #char .attributes .attribute--descriptors {
      text-align: center;
      font-size: 0.6em; }
      div#character #char .attributes .attribute--descriptors .attribute--descriptor {
        align-self: flex-end;
        width: 15%; }
      div#character #char .attributes .attribute--descriptors .attribute--descriptor:first-child {
        width: 25%; }
    div#character #char .attributes .attribute {
      margin-top: 10px; }
      div#character #char .attributes .attribute .plaque {
        width: 25%; }
      div#character #char .attributes .attribute .input-field {
        width: 15%; }
    div#character #char .hitpoints {
      margin-top: 20px; }
    div#character #char .attacks .attack {
      margin-top: 20px; }
      div#character #char .attacks .attack .bab .plaque,
      div#character #char .attacks .attack .bab .input-field {
        width: 50%; }
      div#character #char .attacks .attack .cmb,
      div#character #char .attacks .attack .cmd {
        margin-top: 10px; }
        div#character #char .attacks .attack .cmb .plaque,
        div#character #char .attacks .attack .cmd .plaque {
          width: 16%; }
      div#character #char .attacks .attack .cmb .input-field {
        width: 21%; }
      div#character #char .attacks .attack .cmd .input-field {
        width: 14%; }
  div#character #char > div {
    padding: 10px; }
  div#character #lvl-classes {
    width: 100%; }
    div#character #lvl-classes .classes {
      width: 100%;
      margin-top: 10px; }
      div#character #lvl-classes .classes .classes--descriptor span {
        width: 50%; }
      div#character #lvl-classes .classes .flex-box-container {
        width: 100%; }
      div#character #lvl-classes .classes .classes--new {
        margin-top: 10px; }

footer {
  height: 20px;
  width: 100%;
  text-align: center; }
  footer p {
    margin: 0px;
    padding: 0px;
    padding-top: 5px; }

