:root {
    --background-color: rgb(249, 215, 143);
    --color: rgb(44, 0, 2);
    --input-background-color: rgb(249, 202, 99);
    --input-disabled-background-color: rgb(249, 234, 199);
}

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

html, body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    color: var(--color);
}

body {
    padding: 10px;
}

body, button, input, select, option {
    font-family: 'Uncial Antiqua', cursive;
    font-size: 1em;
}

a {
    color: var(--color);
}

header {
    text-align: center;
    height: 80px;

    img {
        height: 100%;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;

        li {
            display: inline-block;

            a {
                text-decoration: none;
                font-weight: bold;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}

button:focus, input:focus, select:focus {
    outline: none;
}

input {
    border: none;
    border-bottom: 1px solid var(--color);
    background-color: var(--input-background-color);
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    background-color: var(--input-background-color);
    border: none;
    border-bottom: 1px solid var(--color);
}

input[type="submit"] {

}

button, input[type="submit"] {
    cursor: pointer;
    outline: none;
    background-color: var(--input-background-color);
    border: 1px solid var(--color);
    border-radius: 5px;
    box-shadow: 1px 1px 2px var(--color-50);
    padding: 5px 10px 5px 10px;
}

form {
    width: 100%;

    .form-group {
        display: flex;
        width: 100%;

        input {
            width: 100%;
            margin-left: 10px;
        }

        input:first-child {
            margin-left: 0px;
        }
    }
}

.section {
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out;
}

.section.visible {
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.section.hidden {
    opacity: 0;
    visibility: hidden;
}

.flex-box-container {
    display: flex;

    .column-50 {
        height: 100%;
        width: 100%;
        display: inline-block;
        vertical-align: top;
    }
}

.flex-box-container>div {
    vertical-align: middle;
    margin-left: 5px;
}

.flex-box-container>div:first-child {
    margin-left: 0px;
}

// .column-50:first-child {
//     margin-left: 0px;
// }

.character-section {
    height: 100%;
    overflow: auto;
}

p {
    margin: 0px;
    padding: 0px;
}

.input-field-total {
    font-weight: bold;
    text-decoration: underline;
}

.input-field {
    display: inline-block;
    // margin-top: 5px;
}

.input-field.descriptor-below,
.select-field.descriptor-below {
    input {
        width: 100%;
    }

    span.descriptor {
        display: block;
        vertical-align: top;
        font-size: 0.6em;
    }
}

.input-field.descriptor-inside {
    position: relative;

    input {
        width: 100%;
    }

    span.descriptor {
        position: absolute;
        font-size: 0.65em;
        top: 0px;
        left: 0px;
    }

    span.descriptor.small {
        font-size: 0.5em;
    }
}

.input-field-box.descriptor-inside {
    span.descriptor {
        top: 2px;
        left: 2px;
    }
}

.input-field-group {
    width: 100%;
}

.plaque,
.plaque-placeholder {
    display: inline-block;
    padding: 5px;
    height: 40px;
}

.plaque {
    display: inline-block;
    background-color: var(--color);
    color: var(--background-color);
    padding: 5px;
    text-align: center;
    border-radius: 5px;
    height: 40px;

    span {
        display: inline-block;
    }

    span.text {
        margin-top: 5px;
    }

    span.text-top {
        width: 100%;
        font-size: 0.9em;
    }
    span.text-bottom {
        width: 100%;
        font-size: 0.65em;
        position: relative;
        top: -7px;
    }
}

.input-field-box {
    input {
        width: 100%;
        height: 100%;
        border: 1px solid var(--color);
        border-radius: 5px;
        text-align: center;
    }

    input[readonly] {
        background-color: var(--input-disabled-background-color);
        color: var(--color);
        border: var(--input-background-color);
    }

    input[readonly] + span.descriptor {
        color: var(--color);
    }
}

.input-field {
    input[readonly] {
        background-color: var(--input-disabled-background-color);
    }
}

.list {
    .list--entry {
        display: inline-block;
        padding: 5px;
        border-radius: 4px;
        background-color: var(--input-background-color);
        border: 1px solid var(--color);
        font-size: 0.7em;
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

nav#main-nav {
    text-align: center;
    width: 100%;

    a {
        text-transform: uppercase;
    }
}

div#nav-container {
    width: 100%;
    position: relative;
    height: 25px;
}

div#message {
    width: 100%;
    font-size: 12px;
    padding: 10px;
    z-index: 200;
    height: 80px;

    ul {
        padding: 0px;
        margin: 0px;

        li {
            border-bottom: 1px solid rgb(44, 0, 2);
        }

        li:first-child {
            border-bottom: none;
        }
    }
}

div#login {
    form {
        height: 200px;
    }

    input[type="submit"] {
        margin-top: 10px;
        float: right;
    }
}

div#content {
    width: 100%;
    height: calc(100% - 25px - 80px - 20px);
    position: relative;

    h1 {
        font-size: 20px;
    }

    p.first-child {
        margin-top: 0px;
        padding-top: 0px;
    }

    h1.first-child,
    #main h1,
    #characters p,
    #login h1,
    #signup h1 {
        margin-top: 0px;
        padding-top: 0px;
    }
}

div#content.messages-shown {
    height: calc(100% - 25px - 80px - 20px - 80px);
}

div#characters {
    .character-list--entry {
        padding: 5px;
        cursor: pointer;
        border-bottom: 1px solid var(--color);
        text-decoration: underline;

        .character-list--entry--race {
            margin-left: 10px;
        }

        .character-list--entry--classes--class:first-child {
            margin-left: 0px;
        }

        .character-list--entry--classes--class {
            margin-left: 10px;
        }
    }

    .character-list--entry:last-child {
        border-bottom: none;
    }
}

div#new_character {
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    margin-top: 10px;
}

div#new_character_form {
    form {
        width: 100%;

        input[name="name"],
        select[name="class"],
        select[name="race"] {
            display: block;
            width: 100%;
            margin-bottom: 10px;
        }
    }

    #new_character_form--cancel {
        float: right;
    }
}

div#controls {
    height: 75px;
    text-align: center;

    button {
        margin-bottom: 5px;
    }
}

div#character {
    position: relative;
    height: calc(100% - 80px);
    max-width: 400px;

    .input-field {
        width: 100%;
    }

    #basics {
        height: 100%;
        overflow: auto;
    }

    #character--languages {
        width: 100%;

        .list--entry {
            text-transform: capitalize;
        }
    }

    #character--lvl-classes {
        #level {
            width: 100%;
        }

        #experience, #growth {
            width: 50%;
        }
    }

    #attributes {
        #attributes--descriptors {
            margin-top: 10px;
            width: 100%;

            span {
                text-align: center;
                display: inline-block;
                width: 20%;
                font-size: 0.8em;
            }

            span:first-child {
                width: 100px;
            }
        }

        .plaque {
            width: 100px;
        }

        .attribute-entry {
            height: 45px;
        }

        .input-field {
            font-size: 1em;
            vertical-align: middle;
            width: 20%;
            height: 40px;
        }
    }

    div#hitpoints {
        margin-top: 10px;

        .plaque {
            width: 20%;
        }

        .input-field {
            height: 40px;

            input {
                padding-left: 10px;
                margin-top: 15px;
            }
        }

        .flex-box-container>div {
            margin-left: 10px;
        }

        .flex-box-container>div:first-child {
            margin-left: 0px;
        }
    }

    div#attacks {
        margin-top: 10px;

        .plaque {
            width: 105px;
        }

        .attack-entry>div {
            margin-top: 5px;
        }

        .attack-entry>div:first-child {
            margin-top: 0px;
        }

        .cmd--dex-mod,
        .cmd--str-mod,
        .cmd--size-mod {
            .descriptor {
                font-size: 0.5em;
            }
        }
    }

    div#ac {
        .plaque,
        .plaque-placeholder {
            width: 220px;
        }

        .flex-box-container {
            height: 40px;
            margin-top: 5px;
        }

        .flex-box-container:first-child {
            margin-top: 0px;
        }
    }

    div#ac--touch,
    div#ac--flat-footed,
    div#ac--sr {
        margin-top: 15px;

        .plaque {
            width: 200px;
        }
    }

    div#ac--sr {
        .plaque {
            font-size: 0.8em;
            span.text {
                margin-top: 0px;
            }
        }
    }

    div#savings {
        margin-top: 10px;

        .flex-box-container {
            margin-top: 5px;
        }
        .flex-box-container:first-child {
            margin-top: 0px;
        }

        #savings--descriptors {
            span {
                display: block;
                margin-left: 5px;
                width: 12%;
                font-size: 0.8em;
                align-self: flex-end;
            }

            span:first-child {
                margin-left: 0px;
                width: 28%;
            }
        }

        .plaque {
            width: 100%;
        }
    }

    div#skills {
        .skill-modifiers {
            height: 40px;

            .input-field {
                height: 100%;

                input {
                    height: 100%;
                }
            }
        }
    }
}

footer {
    height: 20px;
    width: 100%;
    text-align: center;

    p {
        margin: 0px;
        padding: 0px;
        padding-top: 5px;
    }
}
